<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- DBConnection:Dev:机器名 表示在 机器名 上特定使用的连接字符串 -->
    <add key="DBConnection:Dev:Liuteki" value="Server=127.0.0.1;Database=appframe;Uid=root;Pwd=;" />
    <add key="DBConnection:Dev:HUIZHE-HP" value="Server=127.0.0.1;Database=appframe;Uid=root;Pwd=111111;" />
    <add key="DBConnection:Dev:XiaoHuihedeMini" value="Server=127.0.0.1;Database=appframe;Uid=root;Pwd=;" />
    <add key="DBConnection:Dev:ZHENGDEJIE" value="Server=127.0.0.1;Database=appframe;Uid=root;Pwd=123456;" />
    <!-- DBConnection:Debug / DBConnection:Release 表示在以上机器名匹配都失败时，根据 Debug / Release 使用的连接字符串，用于最后的部署 -->
    <add key="DBConnection:Debug" value="Server=127.0.0.1;Database=appframe;Uid=root;Pwd=;" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.6.0" newVersion="6.9.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>